.form {
  text-align: right;
  color: var(--dark-gray);
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: var(--logo-purple);
  border: 1px solid var(--less-dark-purple);
  color: var(--dark-purple);
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: var(--dark-purple);
  border-color: var(--logo-purple);
  color: var(--logo-purple);
}
